<template>
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-md-6">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Узнать курс валют?</h5>
                        <button v-on:click="getUsd" class="btn btn-primary">Вперед</button>
                    </div>
                </div>
            </div>

            <div class="col-md-6" v-if="usd">
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">КУРС <code>{{usd.ccy}}</code></div>
                    <div class="card-body">
                        <h5 class="card-title">Покупка</h5>
                        <p class="card-text">{{usd.buy}}</p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Продажа</h5>
                        <p class="card-text">{{usd.sale}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                usd: null
            };
        },
        methods:{
            getUsd: function () {
                axios.get('api/today')
                    .then(
                        response => (this.usd = response.data[0])
                    )
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    })
            }
        }
    }
</script>
