<template>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ccy</th>
            <th scope="col">base_ccy</th>
            <th scope="col">buy</th>
            <th scope="col">sale</th>
            <th scope="col">date</th>
        </tr>
        </thead>
        <tbody>
        <tr v-if="historyRates" v-for="item in historyRates">
            <th scope="row">{{item.ccy}}</th>
            <td>{{item.base_ccy}}</td>
            <td>{{item.bue}}</td>
            <td>{{item.sale}}</td>
            <td>{{item.created_at | formatDate}}</td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        name: "HistoryRates",
        data(){
            return{
                historyRates: null
            }
        },
        mounted() {
            axios.post('api/history')
                .then(
                    response => (this.historyRates = response.data[''])
                )

                .catch(function (error) {
                    // handle error
                    console.log(error);
                })
        }

    }
</script>

<style scoped>

</style>
